<% include('../functions/_func.ejs'); %>

<footer class="ly_footer">
  <nav>
    <ul>
      <li><a href="<%- func.getPageLink("top",page); %>">TOP</a></li>
      <li><a href="<%- func.getPageLink("sub",page); %>">SUB</a></li>
    </ul>
  </nav>
</footer>
</div>

<%- include('../modules/_modal.ejs') %>
</body>

</html>
