<% include('../functions/_func.ejs'); %>
<header class="ly_header">
  <nav>
    <ul>
      <li><a href="<%- func.getPageLink("top",page); %>">TOP</a></li>
      <li><a href="<%- func.getPageLink("sub",page); %>">SUB</a></li>
    </ul>
  </nav>
</header>
