<div class="bl_modal">
  <div class="bl_modal_wrap">
    <div class="bl_modal_mask"></div>
    <div class="bl_modal_contents">
      <div class="bl_modal_yt">
        <iframe title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
